*{
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
   font-family: 'Gilroy';
}
*::selection{
    color: #fff;
    background-color: black;
    
}
html, body{
    height: 100%;
    width: 100%;
}
body{
    background-color: #F7F7F7;
}
#nav{
    width: 100%;
    position: fixed;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    z-index: 99;
    padding: 25px
}
#nav-part1{
    /* background-color: crimson; */
    height: 82px;
    overflow: hidden;
}
#nav-part1 svg{
    display: block;

}
#nav #nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
#links{
    padding: 5px;
}
#nav-part2 #links a{
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 14px;
    margin:0 20px;
    text-transform:uppercase;
}
#icons{
    padding: 5px;
    border-radius: 50px;
    background-color: #F7F7F7;
}
#nav-part2 #icons i{
    font-size: 18px;
    margin: 0 20px;
    font-weight: 100;
}
#cursor{
    height: 200px;
    width: 200px;
    background-color: blanchedalmond;
    position: fixed;
    border-radius: 50%;
    transform: translate(-50%,-50%) scale(0);
    opacity: 0.8;
}
#page1{
    min-height: 100vh;
    position: relative;
    width: 100%;
    padding-top: 30vh;
}
#hed{
    font-size: 16vw;
    text-transform: uppercase;
    font-family: futura;
    text-align: center;
    padding-right: 2vw;

}
#page1 h1{
    font-size: 16.4vw;
    padding-left: 1.5vw;
    text-transform: uppercase;
    font-family: futura;
    line-height: 14vw;
    letter-spacing: -12.5px;
}
#img{
   height: 100vh;
   width: 100%;
   position: relative;
   margin-top: 1vw;
}

#img img{
    width: 95vw;
    height: 110vh;
}
#img #buy{
    padding: 3.5vw 1.5vw;
    background-color: rgba(0, 0, 0, 0.14);
    color: black;
    font-size: 1vw;
    font-weight: 500;
    position: fixed;
    text-transform: uppercase;
    font-family: futura;
    border: 2px solid rgb(0, 255, 191);
    border-radius: 90px;
    opacity: 0;
    scale: 0;
}

#page2{
    min-height: 120vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    padding: 3vw 2vw;
    justify-content: space-between;
}
#page2 .elem{
    height: 100%;
    width: 32%;
    /* background-color: red; */
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
#page2 .elem img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    scale: 1.2;
}
#page2 .elem .dets{
    height: 50px;
    border-radius: 50px;
    width: 70%;
    position: absolute;
    z-index: 9;
    background-color: palegoldenrod;  
    cursor: pointer;
}
#page2 .elem .dets ul li{
    list-style: none;
} 
#f-span{
    margin-left: 40px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 400;
}
#s-span{
    margin-left: 57px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 400;
}
#f-span-s{
    margin-left: 40px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 400;
}
.s-span{
    margin-left: 65px;
    margin-right: 15px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 400;
}
#f-span-ss{
    margin-left: 12px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14.5px;
    font-weight: 400;
}
.s-span-s{
    margin-left: 50px;
    margin-right: -15px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
}
#page2 .elem .dets ul li .fa-solid{
    margin-top: 22px;
    margin-left: 30px;
    font-size: 10px;
}
#page2 .elem .dets img{
    display: inline;
    margin-top: 45px;
    margin-left: 50px;
    width: 100px;
    height: 90px;
}
.prod-dts1 p{
     margin-top: 20px;
    margin-left: 20px;
    font-size: 13px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.prod-dts2 p{
    margin-top: -69px;
    margin-left: 190px;
    font-size: 13px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.prod-dts3 p{
    margin-top: 20px;
   margin-left: 20px;
   font-size: 13px;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.prod-dts4 p{
   margin-top: -55px;
   margin-left: 190px;
   font-size: 13px;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#hide{
    display: none;
}
#page2 .elem .dets:hover{
    border-radius: 17px;
}
#page2 .elem .dets:hover #hide{
    height: 220px;
    display: block;
    background-color: palegoldenrod;
    border-radius: 3px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 100%;
}
#page3{
    height: 65vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#page3 .p3-elem{
    height: 50vh;
    width: 100vh;
    display: flex;
    align-items: start;
    justify-content:start;
    margin-top: -3vh;
}
#page3 #p3-elem p{
    font-size: 50px;
    font-family: futura;
    font-weight: bold;
    line-height: 1;

}
#page3 #p3-elem1{
    font-size: 18px;
    display: block;
    align-items: start;
    justify-content: center;
    text-align: justify;
}
#page3 #p3-elem1 p{
    margin-left: 35vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    

}
#page3 #p3-elem1 p a{
    font-size: 14px;
    font-family:'Times New Roman', Times, serif ;
    font-weight: 200;
    text-decoration: none;
    color: black;
    margin-top: 3vh;
    position: relative;
    
}
#page3 #p3-elem1 p a::after{
    content: '';
    width: 100%;
    height: 2px;
    background: black;
    position: absolute;
    right: 0;
    bottom: -6px;
    transition: 0.5s ease-in-out;
}
#page3 #p3-elem1 p a:hover::after{
    width: 0;
    left: 0;
}


#page4{
    min-height: 120vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;   
}

.child{
    height: 54vh;
    width: 38vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;   
}
.child img{
    height: 100%;
    cursor: pointer;
}

#page5{
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
}
.main-p{
    text-align: center;
    font-family: futura;
    font-size: 70px;
    font-weight: 900;
    line-height: 1;
}
#page5 button{
    margin-top: 12vh;
    padding: 20px 75px;
    border-radius: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    color: #fff;
    font-family: futura;
    font-size: 12px;
    cursor: pointer;
}
#page5 button:hover{
    color: #ffffff9e;
}

.msg{
    margin-top: 5vh;
    text-align: center;
    font-size: 18px;
}
#page6{
    height: 110vh;
    width: 100%;
    position: relative;
    align-items: center;
    padding: 3vw 2vw;
    display: flex;
    justify-content: space-between;
    margin-top: 3vh;
}
#page6 .elem6{
    height: 100%;
    width: 32%;
    overflow: hidden;
    position: relative;
    justify-content: center;
    align-items: center;
    scale: 1;
    /* display: flex; */
}
#page6 #elem7 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#page6 #elem8 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#footer{
    height: 120vh;
    width: 100%;
    background-color: #F7F7F7;
    padding: 20px;
}
#input-tag{
    width: 100%;
    height: 8vh;
}
#input-tag input{
    width: 98%;
    height: 100%;
    border: 1px solid black;
    margin-left: 2vh;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    background-color: #F7F7F7;
    font-size: 40px;
    color: black;
    font-family: futura;
    font-weight: 900;
    text-transform: uppercase;
}
#input-tag textarea:focus, input:focus{
    outline: none;
}
::placeholder{
    color: black;
    font-size: 40px;
    font-family: futura;
    font-weight: 900;
}
input:focus::placeholder {
    color: transparent;
}
#logo{
    margin-top: 15vh;
    height: 350px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#logo .elem10{
    height: 210px;
    width: 250px;
}
#elem9 h6{
    margin-top: 5vh;
    font-size: 13px;
    color: #585454d1;
    margin-bottom: 2vh;
}
#elem9 ul li{
    list-style: none;
    line-height: 1.5;
    cursor: pointer;
}
#elem9-1 img{
    height: 210px;
    width: 205px;
    margin-top: 5vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#elem9 ul li:hover{
    color: #585454d1;;
}
.elem10-1{
    text-align:end;
    margin-right: 2vh;
}
#copyright{
    margin-top: 8vh;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
    color: #585454d1;
}
#disclamer{
    width: 60%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12vh;
}






@media only screen and (max-width:600px){
    #nav{
        width: 100%;
        position: fixed;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        z-index: 99;
        padding: 15px
    }
    #nav-part1{
        /* background-color: crimson; */
        height: 67px;
        overflow: hidden;
    }
    #nav-part1 svg{
        display: block;
        height: 67px;
        width: 82px;
    }
    #nav #twogoodlogo{
        height: 40px;
        margin-left: -20px;
    }
    #links{
        padding: 5px;
        display: none;
    }
    #icons{
        padding: 7px;
        border-radius: 50px;
        background-color: #F7F7F7;
        margin-right: 12vh;
    }
    #nav-part2 #icons i{
        font-size: 15px;
        margin: 0 20px;
        font-weight: 100;
    }
   
    #page1{
        width: 100%;
        padding: 0 3vw;
        padding-top: 33.5vh;
    }
    #hed{
        font-size: 16vw;
    }
    #page1 h1{
        font-size: 16vw;
        line-height: 14vw;
        text-align: center;
        letter-spacing: -4px;
        padding-left: 0;
    }
    #img{
        height: 25vh;
        width: 100%;
        margin-top: 25vw;
        display: flex;
        align-items: center;
        justify-content: center;
     }
     #img img{
       width: 160vw;
       height: 48vh;
    }
    #img #buy{
        padding: 11vw 3vw;
        background-color: rgba(0, 0, 0, 0.14);
        color: rgb(7, 226, 246);
        font-size: 4vw;
        position: absolute;
        border: 5px solid rgb(0, 255, 213);
        border-radius: 70%;
        opacity: 1;
        scale: 1;
        transform: translate(6.6%, 29%);
    }
    #page2{
        min-height: 100vh;
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 1vw 4.5vw;
        justify-content: space-between;
    }
    #page2 .elem{
        height: 100vh;
        width: 100%;
        margin-bottom: -17vh;
        overflow: hidden;
    }
    #page2 .elem img{
        width: 100%;
        height: 80%;
        object-fit: cover;
        scale: 1;
    }
    #page2 .elem .dets{
        height: 50px;
        border-radius: 50px;
        width: 70%;
    }
    #f-span{
        margin-left: 15px;
        font-family:Arial, Helvetica, sans-serif;
        font-size: 13px;
        font-weight: 300;
    }
    #s-span{
        margin-left: 40px;
        font-family:Arial, Helvetica, sans-serif;
        font-size: 13px;
        font-weight: 300;
    }
    #f-span-s{
        margin-left: 20px;
        font-family:Arial, Helvetica, sans-serif;
        font-size: 13px;
        font-weight: 300;
    }
    .s-span{
        margin-left: 65px;
        margin-right: 15px;
        font-family:Arial, Helvetica, sans-serif;
        font-size: 13px;
        font-weight: 300;
    }
    #f-span-ss{
        margin-left: 12px;
        font-family:Arial, Helvetica, sans-serif;
        font-size: 13px;
        font-weight: 300;
    }
    .s-span-s{
        margin-left: 25px;
        margin-right: -8px;
        font-family:Arial, Helvetica, sans-serif;
        font-size: 13px;
        font-weight: 300;
    }
    #page2 .elem .dets ul li .fa-solid{
        margin-top: 22px;
        margin-left: 13px;
        font-size: 10px;
    }
    #page2 .elem .dets img{
        display: inline;
        margin-top: 25px;
        margin-left: 10px;
        width: 100px;
        height: 90px;
    }
    .prod-dts1 p{
        margin-top: 10px;
        margin-left: 10px;
        font-size: 10px;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .prod-dts2 p{
        margin-top: -60px;
        margin-left: 130px;
        font-size: 10px;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .prod-dts3 p{
        margin-top: 10px;
       margin-left: 10px;
       font-size: 10px;
       font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .prod-dts4 p{
       margin-top: -45px;
       margin-left: 140px;
       font-size: 10px;
       font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    #page2 .elem .dets:hover #hide{
        height: 200px;
    }

    #page3{
        height: 65vh;
        width: 100%;
        display: block;
        align-items: center;
    }
    #page3 .p3-elem{
        height: 30vh;
        width: 100%;
        display: block;
        align-items: center;
        justify-content:center;
    }
    #page3 #p3-elem p{
        margin-top: 150px;
        margin-left: 2vh;
        align-items: center;
        font-size: 24px;
        font-family: futura;
        font-weight: bold;
        line-height: 1;
    
    }
    #page3 #p3-elem1{
        font-size: 18px;
        margin-top: -80px;
        display: block;
        align-items: center;
        justify-content: center;
        text-align: justify;
    }
    #page3 #p3-elem1 p{
        margin-left: 2vh;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        
    
    }
    #page4{
        margin-top: 5vh;
        min-height: 100vh;
        width: 100%;
    }
    .child{
        height: 25vh;
        width: 35vw;
    }
    #page5{
        height: 70vh;
        width: 100%;
        align-items: center;
        justify-content: center;
        margin-top: 5vh;
        margin-bottom: 10vh;
    }
    .main-p{
        text-align: center;
        font-family: futura;
        font-size: 18px;
        font-weight: 400;
        line-height: 1;
    }
    #page5 button{
        margin-top: 30vh;
        padding: 20px 75px;
        border-radius: 30px;
    }
    #page6{
        height: 130vh;
        width: 100%;
        position: relative;
        align-items: center;
        padding: 1vw 2vw;
        display: block;
        justify-content:center;
    }
    #page6 .elem6{
        height: 45%;
        width: 100%;
        overflow: hidden;
        position: relative;
        justify-content: center;
        align-items: center;
    }
    #page6 #elem7 img{
        width: 100%;
        height: 100%;
        object-fit:cover;
        scale: 0.9;
    }
    #page6 #elem8 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin-top: -8vh;
        scale: 0.9;
    }
    #footer{
        min-height: 100vh;
        width: 100%;
        background-color: #F7F7F7;
        padding: 10px;
        margin-top: 35vh;
    }
    #input-tag{
        width: 100%;
        height: 8vh;
    }
    #input-tag input{
        width: 97%;
        height: 100%;
        border: 1px solid black;
        margin-left: 1vh;
        border-left: 0;
        border-right: 0;
        border-top: 0;
        background-color: #F7F7F7;
        font-size: 30px;
        color: black;
        font-family: futura;
        font-weight: 500;
        text-transform: uppercase;
    }
    ::placeholder{
        color: black;
        font-size: 15px;
        font-family: futura;
        font-weight: 900;
    }
    #logo{
        margin-top: 1vh;
        height: 350px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    #logo .elem10{
        height: 210px;
        width: 200px;
    }
    #elem9 h6{
        margin-top: 5vh;
        font-size: 10px;
        color: #585454d1;
        margin-bottom: 2vh;
    }
    #elem9 ul li{
        list-style: none;
        line-height: 1.5;
        cursor: pointer;
        font-size: 13.5px;
    }
    #elem9-1 img{
        height: 100px;
        width: 100px;
        margin-top: 5vh;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    #copyright{
        margin-top: -9vh;
        width: 100%;
        font-size: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
        color: #585454d1;
    }
    #disclamer{
        width: 90%;
        font-size: 18px;
        text-align: justify;
        margin-left: auto;
        margin-right: auto;
        margin-top: 8vh;
    }
}
